<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>
		<string>disk0s2</string>
		<string>disk0s3</string>
		<string>disk0s4</string>
		<string>disk0s5</string>
		<string>disk0s6</string>
		<string>disk0s7</string>
		<string>disk1</string>
		<string>disk1s1</string>
		<string>disk1s2</string>
		<string>disk1s3</string>
		<string>disk1s4</string>
		<string>disk2</string>
		<string>disk2s1</string>
		<string>disk2s2</string>
		<string>disk2s3</string>
		<string>disk2s4</string>
		<string>disk3</string>
		<string>disk3s1</string>
		<string>disk3s2</string>
		<string>disk4</string>
		<string>disk4s1</string>
		<string>disk4s1s1</string>
		<string>disk4s2</string>
		<string>disk4s3</string>
		<string>disk4s4</string>
		<string>disk4s5</string>
		<string>disk4s6</string>
		<string>disk5</string>
		<string>disk5s1</string>
		<string>disk6</string>
		<string>disk6s1</string>
		<string>disk7</string>
		<string>disk7s1</string>
		<string>disk7s2</string>
		<string>disk7s3</string>
		<string>disk7s4</string>
		<string>disk8</string>
		<string>disk8s1</string>
		<string>disk9</string>
		<string>disk9s1</string>
	</array>
	<key>AllDisksAndPartitions</key>
	<array>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk0</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>Apple_APFS_ISC</string>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
					<key>DiskUUID</key>
					<string>F452C511-411E-4FB0-B106-8E7F471AD7A4</string>
					<key>Size</key>
					<integer>524288000</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
					<key>DiskUUID</key>
					<string>2B457620-9AED-474C-8E53-82129ABD6A3D</string>
					<key>Size</key>
					<integer>191183716352</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
					<key>DiskUUID</key>
					<string>5FC5931C-FBA5-4BED-B1C3-EE8CA6C9CAA0</string>
					<key>Size</key>
					<integer>2499805184</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk0s4</string>
					<key>DiskUUID</key>
					<string>AFD87866-ABBF-4E2C-A9C7-B6A1AD8148C0</string>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>EFI - FEDOR</string>
					<key>VolumeUUID</key>
					<string>BB553CB3-9243-367C-8859-B1C0C093EC4A</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Linux Filesystem</string>
					<key>DeviceIdentifier</key>
					<string>disk0s5</string>
					<key>DiskUUID</key>
					<string>332FEA38-556B-4A32-8AD0-57C1D3FF8B22</string>
					<key>Size</key>
					<integer>1073741824</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Linux Filesystem</string>
					<key>DeviceIdentifier</key>
					<string>disk0s6</string>
					<key>DiskUUID</key>
					<string>DA01DCEB-E3AF-429B-BE2A-A7188FD21759</string>
					<key>Size</key>
					<integer>49825185792</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS_Recovery</string>
					<key>DeviceIdentifier</key>
					<string>disk0s7</string>
					<key>DiskUUID</key>
					<string>65D9DC85-8AC5-457A-A8CE-A46E28A09194</string>
					<key>Size</key>
					<integer>5368664064</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>251000193024</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s1</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>6496256</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s1</string>
					<key>DiskUUID</key>
					<string>20E04841-4B5C-4E29-8296-8144B202133A</string>
					<key>MountPoint</key>
					<string>/System/Volumes/iSCPreboot</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>iSCPreboot</string>
					<key>VolumeUUID</key>
					<string>20E04841-4B5C-4E29-8296-8144B202133A</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>6311936</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s2</string>
					<key>DiskUUID</key>
					<string>DADF9B5C-0407-474E-AD8F-22F1AB664556</string>
					<key>MountPoint</key>
					<string>/System/Volumes/xarts</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>xART</string>
					<key>VolumeUUID</key>
					<string>DADF9B5C-0407-474E-AD8F-22F1AB664556</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>2076672</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s3</string>
					<key>DiskUUID</key>
					<string>229CAAE6-3F35-4161-B107-068EC048A2A8</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Hardware</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>Hardware</string>
					<key>VolumeUUID</key>
					<string>229CAAE6-3F35-4161-B107-068EC048A2A8</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>20480</integer>
					<key>DeviceIdentifier</key>
					<string>disk1s4</string>
					<key>DiskUUID</key>
					<string>F7A7E232-EB4F-4EFD-B3D7-8EC00FA5E92E</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>524288000</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>F7A7E232-EB4F-4EFD-B3D7-8EC00FA5E92E</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk1</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>524288000</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s3</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>2957312</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s1</string>
					<key>DiskUUID</key>
					<string>0A9BDF1D-A3B2-4DF1-8199-B1CE4ECE6DB6</string>
					<key>MountPoint</key>
					<string>/Volumes/Fedora Linux with KDE Plasma - Data</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>2499805184</integer>
					<key>VolumeName</key>
					<string>Fedora Linux with KDE Plasma - Data</string>
					<key>VolumeUUID</key>
					<string>0A9BDF1D-A3B2-4DF1-8199-B1CE4ECE6DB6</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1085440</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s2</string>
					<key>DiskUUID</key>
					<string>910F660E-C171-4085-825A-935D12E59953</string>
					<key>MountPoint</key>
					<string>/Volumes/Fedora Linux with KDE Plasma</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>2499805184</integer>
					<key>VolumeName</key>
					<string>Fedora Linux with KDE Plasma</string>
					<key>VolumeUUID</key>
					<string>910F660E-C171-4085-825A-935D12E59953</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>148000768</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s3</string>
					<key>DiskUUID</key>
					<string>398BA4F9-E307-4F76-9D03-BFECC6F0E9D0</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>2499805184</integer>
					<key>VolumeName</key>
					<string>Preboot</string>
					<key>VolumeUUID</key>
					<string>398BA4F9-E307-4F76-9D03-BFECC6F0E9D0</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>776437760</integer>
					<key>DeviceIdentifier</key>
					<string>disk2s4</string>
					<key>DiskUUID</key>
					<string>7D01EDEE-A2B1-437C-9D74-632541BB0399</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>2499805184</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>7D01EDEE-A2B1-437C-9D74-632541BB0399</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk2</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>2499805184</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s7</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>1704345600</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s1</string>
					<key>DiskUUID</key>
					<string>B54ACF62-829D-4C0C-8B00-931F8CDA3B8B</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>5368664064</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>B54ACF62-829D-4C0C-8B00-931F8CDA3B8B</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>5672960</integer>
					<key>DeviceIdentifier</key>
					<string>disk3s2</string>
					<key>DiskUUID</key>
					<string>08F9A98A-16D0-47DC-A2D7-C58384443CC6</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>5368664064</integer>
					<key>VolumeName</key>
					<string>Update</string>
					<key>VolumeUUID</key>
					<string>08F9A98A-16D0-47DC-A2D7-C58384443CC6</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk3</string>
			<key>OSInternal</key>
			<true/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>5368664064</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk0s2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>13008506880</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s1</string>
					<key>DiskUUID</key>
					<string>FC06C1D0-F94E-4356-898E-9D6B82E405C7</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Update/mnt1</string>
					<key>MountedSnapshots</key>
					<array>
						<dict>
							<key>Sealed</key>
							<string>Yes</string>
							<key>SnapshotBSD</key>
							<string>disk4s1s1</string>
							<key>SnapshotMountPoint</key>
							<string>/</string>
							<key>SnapshotName</key>
							<string>com.apple.os.update-EF7FAADC2F68C84A0283167C76276FA116D78329132C8EF65156ACB164D6A9E1</string>
							<key>SnapshotUUID</key>
							<string>A1CFBD7B-2173-4318-B956-079A8B1CBFFC</string>
						</dict>
					</array>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Macintosh HD</string>
					<key>VolumeUUID</key>
					<string>FC06C1D0-F94E-4356-898E-9D6B82E405C7</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>13008506880</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s1s1</string>
					<key>DiskUUID</key>
					<string>A1CFBD7B-2173-4318-B956-079A8B1CBFFC</string>
					<key>MountPoint</key>
					<string>/</string>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Macintosh HD</string>
					<key>VolumeUUID</key>
					<string>A1CFBD7B-2173-4318-B956-079A8B1CBFFC</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>12234256384</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s2</string>
					<key>DiskUUID</key>
					<string>2DD35CE8-AA40-454C-80ED-F2447F2984C5</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Preboot</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Preboot</string>
					<key>VolumeUUID</key>
					<string>2DD35CE8-AA40-454C-80ED-F2447F2984C5</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1829208064</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s3</string>
					<key>DiskUUID</key>
					<string>DAA8572F-FD54-4F27-85FD-20ADD775F0ED</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Recovery</string>
					<key>VolumeUUID</key>
					<string>DAA8572F-FD54-4F27-85FD-20ADD775F0ED</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>719179776</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s4</string>
					<key>DiskUUID</key>
					<string>F626942F-C2AE-4497-A7F7-5548910494D2</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Update</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<true/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Update</string>
					<key>VolumeUUID</key>
					<string>F626942F-C2AE-4497-A7F7-5548910494D2</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>120116383744</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s5</string>
					<key>DiskUUID</key>
					<string>8CC3894B-0DC9-4E18-8AC9-4EC2AFDF5809</string>
					<key>MountPoint</key>
					<string>/System/Volumes/Data</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>Macintosh HD - Data</string>
					<key>VolumeUUID</key>
					<string>8CC3894B-0DC9-4E18-8AC9-4EC2AFDF5809</string>
				</dict>
				<dict>
					<key>CapacityInUse</key>
					<integer>1073762304</integer>
					<key>DeviceIdentifier</key>
					<string>disk4s6</string>
					<key>DiskUUID</key>
					<string>12AE3921-C7AA-4A9D-B232-0AFA4E88D1A5</string>
					<key>MountPoint</key>
					<string>/System/Volumes/VM</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>191183716352</integer>
					<key>VolumeName</key>
					<string>VM</string>
					<key>VolumeUUID</key>
					<string>12AE3921-C7AA-4A9D-B232-0AFA4E88D1A5</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk4</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>191183716352</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk5</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk5s1</string>
					<key>DiskUUID</key>
					<string>1BD42CFE-4B94-496C-A904-2A07D51BCE9D</string>
					<key>Size</key>
					<integer>17412653056</integer>
				</dict>
			</array>
			<key>Size</key>
			<integer>17412687360</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk5s1</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>16878137344</integer>
					<key>DeviceIdentifier</key>
					<string>disk6s1</string>
					<key>DiskUUID</key>
					<string>8C3EB4AC-15FD-4E34-9194-DD1E336EAC8C</string>
					<key>MountPoint</key>
					<string>/Library/Developer/CoreSimulator/Volumes/iOS_21C62</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>17412653056</integer>
					<key>VolumeName</key>
					<string>iOS 17.2 21C62 Simulator</string>
					<key>VolumeUUID</key>
					<string>8C3EB4AC-15FD-4E34-9194-DD1E336EAC8C</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk6</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>17412653056</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>GUID_partition_scheme</string>
			<key>DeviceIdentifier</key>
			<string>disk7</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array>
				<dict>
					<key>Content</key>
					<string>EFI</string>
					<key>DeviceIdentifier</key>
					<string>disk7s1</string>
					<key>DiskUUID</key>
					<string>9402EF69-15F4-401C-BDE2-7D696A55FF0F</string>
					<key>Size</key>
					<integer>209715200</integer>
					<key>VolumeName</key>
					<string>EFI</string>
					<key>VolumeUUID</key>
					<string>0E239BC6-F960-3107-89CF-1C97F78BB46B</string>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk7s2</string>
					<key>DiskUUID</key>
					<string>E8841C98-5CD1-4AF3-B3AB-E0AF97815F29</string>
					<key>Size</key>
					<integer>449961570304</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Apple_APFS</string>
					<key>DeviceIdentifier</key>
					<string>disk7s3</string>
					<key>DiskUUID</key>
					<string>794C3DAE-08C3-4071-876D-A98EC784BF11</string>
					<key>Size</key>
					<integer>486000001024</integer>
				</dict>
				<dict>
					<key>Content</key>
					<string>Microsoft Basic Data</string>
					<key>DeviceIdentifier</key>
					<string>disk7s4</string>
					<key>DiskUUID</key>
					<string>482E8A82-2AE3-4F6D-9882-9D3A0E636C3A</string>
					<key>MountPoint</key>
					<string>/Volumes/Linux</string>
					<key>Size</key>
					<integer>63998787584</integer>
					<key>VolumeName</key>
					<string>Linux</string>
					<key>VolumeUUID</key>
					<string>56D3E5EC-1FB7-4F4E-AF69-31F330A14359</string>
				</dict>
			</array>
			<key>Size</key>
			<integer>1000171323904</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk7s3</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>295321395200</integer>
					<key>DeviceIdentifier</key>
					<string>disk8s1</string>
					<key>DiskUUID</key>
					<string>7AD59841-F303-4552-9B88-8AAF776E5EF1</string>
					<key>MountPoint</key>
					<string>/Volumes/File</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>486000001024</integer>
					<key>VolumeName</key>
					<string>File</string>
					<key>VolumeUUID</key>
					<string>7AD59841-F303-4552-9B88-8AAF776E5EF1</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk8</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>486000001024</integer>
		</dict>
		<dict>
			<key>APFSPhysicalStores</key>
			<array>
				<dict>
					<key>DeviceIdentifier</key>
					<string>disk7s2</string>
				</dict>
			</array>
			<key>APFSVolumes</key>
			<array>
				<dict>
					<key>CapacityInUse</key>
					<integer>426790043648</integer>
					<key>DeviceIdentifier</key>
					<string>disk9s1</string>
					<key>DiskUUID</key>
					<string>617781D1-4118-4186-9239-B4F643720E84</string>
					<key>MountPoint</key>
					<string>/Volumes/Time Machine</string>
					<key>MountedSnapshots</key>
					<array/>
					<key>OSInternal</key>
					<false/>
					<key>Size</key>
					<integer>449961570304</integer>
					<key>VolumeName</key>
					<string>Time Machine</string>
					<key>VolumeUUID</key>
					<string>617781D1-4118-4186-9239-B4F643720E84</string>
				</dict>
			</array>
			<key>Content</key>
			<string>Apple_APFS_Container</string>
			<key>DeviceIdentifier</key>
			<string>disk9</string>
			<key>OSInternal</key>
			<false/>
			<key>Partitions</key>
			<array/>
			<key>Size</key>
			<integer>449961570304</integer>
		</dict>
	</array>
	<key>VolumesFromDisks</key>
	<array>
		<string>iSCPreboot</string>
		<string>xART</string>
		<string>Hardware</string>
		<string>Fedora Linux with KDE Plasma - Data</string>
		<string>Fedora Linux with KDE Plasma</string>
		<string>Macintosh HD</string>
		<string>Macintosh HD</string>
		<string>Preboot</string>
		<string>Update</string>
		<string>Macintosh HD - Data</string>
		<string>VM</string>
		<string>iOS 17.2 21C62 Simulator</string>
		<string>Linux</string>
		<string>File</string>
		<string>Time Machine</string>
	</array>
	<key>WholeDisks</key>
	<array>
		<string>disk0</string>
		<string>disk1</string>
		<string>disk2</string>
		<string>disk3</string>
		<string>disk4</string>
		<string>disk5</string>
		<string>disk6</string>
		<string>disk7</string>
		<string>disk8</string>
		<string>disk9</string>
	</array>
</dict>
</plist>
